<section class="block container">
    <header class="block--header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem accusantium dignissimos facilis at, impedit dolorum inventore eum, amet tenetur, officia porro nisi laboriosam pariatur ducimus perferendis minima. Ullam, delectus suscipit!</p>
    </header>
  </section>
  <section class="block block--darker block--skwed-right">
    <div class="container">
        <h2 class="block--heading">Heading</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem accusantium dignissimos facilis at, impedit dolorum inventore eum, amet tenetur, officia porro nisi laboriosam pariatur ducimus perferendis minima. Ullam, delectus suscipit!</p>
    </div>
  </section>