<div class="collapsaible collapsaible--expended">
    <header class="collaps__header">
        <h2 class="collaps__heading">Items</h2>
        <svg class="icon icon--primary icon--white collaps__chevron">
            <use xlink:href="images/sprite.svg#chevron"></use>
        </svg>
    </header>
    <div class="collaps__content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque ducimus nulla distinctio sunt quaerat? 
        Deleniti voluptas reprehenderit dolorum alias exercitationem.
    </div>
  </div>