<section class="block container">
    <header class="block__header">
      <h1>Host On The Cloud To Keep Growing</h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet, quisquam?</p>
    </header>
  
    <article class="grid grid--cols-2 feature">
      <div>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#easy"></use>
          </svg>
        </span>      
        <h3 class="feature__heading">Super Easy to user</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo voluptatibus est sapiente in libero dolorum. Beatae dicta officia doloremque sequi iure fuga necessitatibus odit voluptate, sunt ipsum nostrum natus!</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
      <img  class="hero__image" src="images/easy.jpg" alt="#">
    </article>
    <article class="grid grid--cols-2 feature">
      <img  class="hero__image" src="images/fast.jpg" alt="#">
      <div>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#computer"></use>
          </svg>
        </span>      
        <h3 class="feature__heading">Simple Fast Website</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo voluptatibus est sapiente in libero dolorum. Beatae dicta officia doloremque sequi iure fuga necessitatibus odit voluptate, sunt ipsum nostrum natus!</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
    </article>
    <article class="grid grid--cols-2 feature">
      <img  class="hero__image" src="images/wordpress.jpg" alt="#">
      <div>
        <span class="icon-container">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#settings"></use>
          </svg>
        </span>      
        <h3 class="feature__heading">WordPress made easy</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo voluptatibus est sapiente in libero dolorum. Beatae dicta officia doloremque sequi iure fuga necessitatibus odit voluptate, sunt ipsum nostrum natus!</p>
        <a href="#" class="link-arrow">Learn More</a>
      </div>
    </article>
  </section>