<footer class="block footer">
    <div class="container grid footer__sections">
      <section class="collapsaible collapsaible--expended footer__section">
        <header class="collaps__header">
            <h2 class="collaps__heading footer__heading">PRODUCTS</h2>
            <svg class="icon icon--primary icon--white collaps__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
        </header>
        <div class="collaps__content">
          <ul class="list">
            <li><a href="#">Website Hosting</a></li>
            <li><a href="#">Free Automated</a></li>
            <li><a href="#"> Wordpress</a></li>
            <li><a href="#">Migrations</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsaible footer__section">
        <header class="collaps__header">
            <h2 class="collaps__heading footer__heading">COMPANY</h2>
            <svg class="icon icon--primary icon--white collaps__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
        </header>
        <div class="collaps__content">
          <ul class="list">
            <li><a href="#">About</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
      </section>
      <section class="collapsaible footer__section">
        <header class="collaps__header">
            <h2 class="collaps__heading footer__heading">SUPPORT</h2>
            <svg class="icon icon--primary icon--white collaps__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
        </header>
        <div class="collaps__content">
          <ul class="list">
            <li><a href="#">Contact</a></li>
            <li><a href="#">Knowledge Base</a></li>
            <li><a href="#">FAQ</a></li>
      </ul>
        </div>
      </section>
      <section class="collapsaible footer__section">
        <header class="collaps__header">
            <h2 class="collaps__heading footer__heading">DOMAINS</h2>
            <svg class="icon icon--primary icon--white collaps__chevron">
                <use xlink:href="images/sprite.svg#chevron"></use>
            </svg>
        </header>
        <div class="collaps__content">
          <ul class="list">
            <li><a href="#"> Domain Checker</a></li>
            <li><a href="#">Domain Transfer</a></li>
            <li><a href="#">Free Domain</a></li>
          </ul>
        </div>
      </section>
      <section class="footer__brand">
        <img src="images/logo.png" alt="">
        <p class="footer__copyright">copy right 2023</p>
      </section>
    </div>
</footer>