<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy to start and Update</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi excepturi impedit, itaque
            inventore magni nesciunt incidunt aspernatur reiciendis omnis consequatur.
        </p>
    </div>
</div>