<section class="block">
    <header class="block__header">
      <h2>What Our Customer are Saying</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid neque tenetur minima, amet nemo est?</p>
    </header>
    <div class="container">
      <div class="card testmi">
        <div class="grid grid--cols-2">
        <div class="testmi__image">
            <img  src="images/testimonial.jpg" alt="#"> 
            <div class="icon-container icon-container--accent">
                <svg class="icon icon--white icon--small">
                    <use xlink:href="images/sprite.svg#quotes"></use>
                </svg>
            </div>
        </div>
        <div>
            <blockquote class="quote">
                <p class="quote__text">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit rem consectetur
                     nam vitae fugit ipsum distinctio illum reprehenderit accusamus omnis.
                </p>
                <footer class="footerpart">
                    <div class="media">
                        <div class="media__image">
                            <svg class="icon icon--primary quote__line">
                                <use xlink:href="images/sprite.svg#line"></use>
                            </svg>
                        </div>
                        <div>
                            <h3 class="media__title">Soft98.ir</h3>
                            <p class="comp">
                                UNIFIED SYSTEM
                            </p>
                        </div>
                    </div>
                </footer>
            </blockquote>
        
        </div>
        </div>      
       </div>
    </div>
  </section>